{% extends "base.html" %}
{% comment %} {% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "/css/styles.css" %}" />
{% endblock %} {% endcomment %}

{% block title %}Home{% endblock %}

{% block links %}
    <a href="#journey" class="nav-link">Journey</a>
    <a href="#testimonials" class="nav-link">Testimonials</a>
    <a href="#solutions" class="nav-link">Solutions</a>
    <a href="#benefits" class="nav-link">Benefits</a>
    <a href="#experts" class="nav-link">Experts</a>
    <a href="#faq" class="nav-link">FAQ</a>
{% endblock %}

{% block content %}
    <!-- Header Section -->
    <header class="header">
        <div class="header__text-box">
            <h1>
                Our industry experts devise technical solutions
                and students execute them at a fixed cost
                within your budget
            </h1>
            <p class="subtitle">
                FourFront's real-world industry experts will be your decisive
                partners in simplifying technology for your startup.
            </p>
            <br>
            <div class="tabbed-text">
                <button style="background-color: transparent; border: none; outline: none; cursor: pointer;"><a href="#industry-expertise">Industry Expertise &emsp;</a></button>
                <button style="background-color: transparent; border: none; outline: none; cursor: pointer;"><a href="#high-quality">High Quality &emsp;</a></button>
                <button style="background-color: transparent; border: none; outline: none; cursor: pointer;"><a href="#affordable">Affordable &emsp;</a></button>
                <button style="background-color: transparent; border: none; outline: none; cursor: pointer;"><a href="#peace-of-mind">Peace of Mind &emsp;</a></button>
                <button style="background-color: transparent; border: none; outline: none; cursor: pointer;"><a href="#build-for-the-future">Build for the Future</a></button>
                
            </div>
            <br>
            <button class="header__text-box--btn-blue">
                <a href="/survey" style="color: #fff">BOOK A DEMO</a>
            </button>
            &emsp;
            <button class="header__text-box--btn-keppel">
                <a href="#signup" style="color: #3d7fc1ff">SIGN UP</a>
            </button>
        </div>
    </header>

    <main>
        <!-- Journey Section -->
        <section class="journey" id="journey">
            <h2 class="journey__header u-margin-bottom-large">
                Your FourFront Journey
            </h2>

            <div class="row">
                <!-- Journey Step 1 -->
                <div class="col-1-of-6">
                    <div class="journey-step">
                        <i class="fas fa-cogs fa-3x u-margin-bottom-medium journey__icon"></i>
                        <h3 class="subtitle journey__subtitle u-margin-bottom-small">Analyze Your Problem</h3>
                        <p class="journey__text">
                            You have a techinical challenge or a project.
                        </p>
                    </div>
                </div>
                <!-- Journey Step 2 -->
                <div class="col-1-of-6">
                    <div class="journey-step">
                        <i class="fas fa-user-cog fa-3x u-margin-bottom-medium journey__icon"></i>
                        <h3 class="subtitle journey__subtitle u-margin-bottom-small">Match With an Expert</h3>
                        <p class="journey__text">
                            We match you with the right expert for CTO as a service or product development.
                        </p>
                    </div>
                </div>
                <!-- Journey Step 3 -->
                <div class="col-1-of-6">
                    <div class="journey-step">
                        <i class="fas fa-cube fa-3x u-margin-bottom-medium journey__icon"></i>
                        <h3 class="subtitle journey__subtitle u-margin-bottom-small">Devise Custom Solutions</h3>
                        <p class="journey__text">
                            Our expert tailors a solution for your business.
                        </p>
                    </div>
                </div>
                <!-- Journey Step 4 -->
                <div class="col-1-of-6">
                    <div class="journey-step">
                        <i class="fas fa-users-cog fa-3x u-margin-bottom-medium journey__icon"></i>
                        <h3 class="subtitle journey__subtitle u-margin-bottom-small">Delegate to a Student</h3>
                        <p class="journey__text">
                            Our expert manages a pre-vetted student for your business.
                        </p>
                    </div>
                </div>
                <!-- Journey Step 5 -->
                <div class="col-1-of-6">
                    <div class="journey-step">
                        <i class="fas fa-rocket fa-3x u-margin-bottom-medium journey__icon"></i>
                        <h3 class="subtitle journey__subtitle u-margin-bottom-small">Launch Your Solution</h3>
                        <p class="journey__text">
                            We successfully launch your solution.
                        </p>
                    </div>
                </div>
                <!-- Journey Step 6 -->
                <div class="col-1-of-6">
                    <div class="journey-step">
                        <i class="fas fa-coins fa-3x u-margin-bottom-medium journey__icon"></i>
                        <h3 class="subtitle journey__subtitle u-margin-bottom-small">Prosper as a Startup</h3>
                        <p class="journey__text">
                            We can provide your business with ongoing support.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Testimonials Section -->
        <section class="testimonials" id="testimonials">
            <div class="row">
                <!-- Video column -->
                <div class="col-2-of-3">
                    <div class="video-wrapper">
                        <iframe width="550" height="309" src="https://www.youtube.com/embed/oznr-1-poSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>    
                <!-- Text column -->
                <div class="col-1-of-3">
                    <h2 class="testimonials__header u-margin-bottom-small">
                        What Our Clients Say
                    </h2>
                    <!-- Carousel of Quotes -->
                    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="transition: 15s ease-in-out left">
                                <div class="card">
                                    <div class="card-header">
                                        Testimonial
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <h3>“Under the training and guidance from FourFront’s base of experts, a single student was able to bring us from a conceptual idea to a fully-functioning, hosted, and tested web application.”</h3><br>
                                        <footer class="blockquote-footer">Cristopher Joseph, Co-Founder of <cite title="Source Title">Streamcicle</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="transition: 15s ease-in-out left">
                                <div class="card">
                                    <div class="card-header">
                                        Testimonial
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <h3>"Working with FourFront Insights is a unique experience. Beyond their ability to deliver innovative technological solutions, they take a keen interest in understanding your business and providing insightful advice in helping you reach your business goals in the most effective and efficient manner (which is especially important in the startup world where capital is limited)."</h3><br>
                                        <footer class="blockquote-footer">Clinton Joseph, Co-Founder of <cite title="Source Title">Streamcicle</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="transition: 15s ease-in-out left">
                                <div class="card">
                                    <div class="card-header">
                                        Testimonial
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <h3>"Santha and her team have been instrumental in helping us get things up and running in short order.  It’s a real win-win all around and her commitment to our success (and the success of all her clients) is truly genuine and yet highly effective.  I guess she is a “Hungry Hunter” too ;-D."</h3><br>
                                        <footer class="blockquote-footer">Clinton Joseph, Co-Founder of <cite title="Source Title">Streamcicle</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="transition: 15s ease-in-out left">
                                <div class="card">
                                    <div class="card-header">
                                        Testimonial
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <h3>"I really like what Be@TheFourFront and Santha are providing and I think it makes a lot of sense for startup entrepreneurs like me who has no prior startup and technology experience"</h3><br>
                                        <footer class="blockquote-footer">Jessica Seeperhead, Founder of <cite title="Source Title">Klouf</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Solutions Section -->
        <section class="solutions" id="solutions">
            <h2 class="solutions__header u-margin-bottom-large">
                Solutions
            </h2>
            <div class="row">
                <!-- LEFT -->
                <div class="col-1-of-2">
                    <h3 class="solutions__subtitle u-margin-bottom-medium">Existing Solutions</h3>
                    <!-- Row 1 -->
                    <div class="row">
                        <div class="col-1-of-6">
                            <i class="fas fa-file-invoice-dollar fa-2x"></i>
                        </div>
                        <div class="col-5-of-6">
                            <h3 class="solutions__title">
                                Estimates get extended indefinitely
                            </h3>
                            <p class="solutions__description">
                                Freelance developers work on projects ranging in size from $10,000 to $500,0000.
                            </p>
                        </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="row">
                        <div class="col-1-of-6">
                            <i class="fas fa-money-check-alt fa-2x"></i>
                        </div>
                        <div class="col-5-of-6">
                            <h3 class="solutions__title">
                                Losing $300 billion a year
                            </h3>
                            <p class="solutions__description">
                                Companies around the world are collectively losing about $300 billion a year by wasting developer efforts in debugging, modifying code, and fixing bad code.
                            </p>
                        </div>
                    </div>
                    <!-- Row 3 -->
                    <div class="row">
                        <div class="col-1-of-6">
                            <i class="fas fa-eye-slash fa-2x"></i>
                        </div>
                        <div class="col-5-of-6">
                            <h3 class="solutions__title">
                                Built in the dark
                            </h3>
                            <p class="solutions__description">
                                Create a product that excludes your customers and ignores the needs of your business.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- RIGHT -->
                <div class="col-1-of-2">
                    <h3 class="solutions__subtitle u-margin-bottom-medium">FourFront Solutions</h3>
                    <!-- Row 1 -->
                    <div class="row">
                        <div class="col-1-of-6">
                            <i class="fas fa-receipt fa-2x solutions__icon"></i>
                        </div>
                        <div class="col-5-of-6">
                            <h3 class="solutions__title">
                                Fixed-Price Cost
                            </h3>
                            <p class="solutions__description">
                                FourFront charges you a fixed project cost with no extensions within your budget.
                            </p>
                        </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="row">
                        <div class="col-1-of-6">
                            <i class="fas fa-tools fa-2x solutions__icon"></i>
                        </div>
                        <div class="col-5-of-6">
                            <h3 class="solutions__title">
                                Reduce maintenance
                            </h3>
                            <p class="solutions__description">
                                FourFront industry experts reduce project maintenance to one-third by effectively overseeing student execution.
                            </p>
                        </div>
                    </div>
                    <!-- Row 3 -->
                    <div class="row">
                        <div class="col-1-of-6">
                            <i class="fas fa-users fa-2x solutions__icon"></i>
                        </div>
                        <div class="col-5-of-6">
                            <h3 class="solutions__title">
                                Customer-centric
                            </h3>
                            <p class="solutions__description">
                                We actively listen to your customers and your business while developing cutting-edge technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Benefits Section -->
        <section class="benefits" id="benefits">
            <h2 class="benefits__header u-margin-bottom-large">
                Benefits
            </h2>
            <!-- Row 1 -->
            <div class="row" id="industry-expertise">
                <!-- Industry Expertise -->
                <div class="col-1-of-2">
                    <div class="benefits-box">
                        <h3 class="benefits__title">
                            Industry Expertise
                        </h3>
                        <p class="benefits__description u-margin-bottom-medium">
                            Our platform will match you with real-world technical talent, from CTOs to students, for your projects and technical needs.
                        </p>
                        <hr>
                        <!-- Icons and Benefits -->
                        <div class="row">
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-user-cog fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Experts
                                    </p>
                                </div>
                            </div>
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-users-cog fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Students
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="u-margin-bottom-small">
                            <!-- Button trigger -->
                            <button type="button" id="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Learn More
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Some text...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
                <div class="col-1-of-2" id="high-quality">
                    <!-- High Quality -->
                    <div class="benefits-box" >
                        <h3 class="benefits__title">
                            High Quality
                        </h3>
                        <p class="benefits__description u-margin-bottom-medium">
                            Our experts, who hail from Fortune 500 companies, ensure high-quality technology development and personalized support.
                        </p>
                        <hr>
                        <!-- Icons and Benefits -->
                        <div class="row">
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-cube fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Development
                                    </p>
                                </div>
                            </div>
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-comments fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Support
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="u-margin-bottom-medium">
                            <a href="#" id="button">Learn More</a>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row">
                <!-- Affordable -->
                <div class="col-1-of-2" id="affordable">
                    <div class="benefits-box">
                        <h3 class="benefits__title">
                            Affordable
                        </h3>
                        <p class="benefits__description u-margin-bottom-medium">
                            Working with student talent teams allows us to keep costs low and make your projects affordable.
                        </p>
                        <hr>
                        <!-- Icons and Benefits -->
                        <div class="row">
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-money-bill-alt fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Low Cost
                                    </p>
                                </div>
                            </div>
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-coins fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        High Return
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="u-margin-bottom-medium">
                            <a href="#" id="button">Learn More</a>
                        </div>                        
                    </div>
                </div>
                <div class="col-1-of-2" id="peace-of-mind">
                    <!-- Peace of Mind -->
                    <div class="benefits-box">
                        <h3 class="benefits__title">
                            Peace of Mind
                        </h3>
                        <p class="benefits__description u-margin-bottom-medium">
                            Our experts will handle all of the project management, talent recruitment, and ongoing support so that you don’t have to.
                        </p>
                        <hr>
                        <!-- Icons and Benefits -->
                        <div class="row">
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-cogs fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Operations
                                    </p>
                                </div>
                            </div>
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-tasks fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Management
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="u-margin-bottom-medium">
                            <a href="#" id="button">Learn More</a>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- Row 3 -->
            <div class="row">
                <!-- Build for the Future -->
                <div class="col-1-of-2" id="build-for-the-future">
                    <div class="benefits-box">
                        <h3 class="benefits__title">
                            Build for the Future
                        </h3>
                        <p class="benefits__description u-margin-bottom-medium">
                            We collaborate with you to provide students with real-world experiences. You provide opportunities for students while also taking back affordable solutions under the guidance of industry experts.
                        </p>
                        <hr>
                        <!-- Icons and Benefits -->
                        <div class="row">
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-grin-beam fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Win-Win
                                    </p>
                                </div>
                            </div>
                            <div class="col-1-of-2 u-margin-top-medium">
                                <!-- Icon -->
                                <div class="col-1-of-3">
                                    <i class="fas fa-hand-holding-usd fa-3x benefits__icon"></i>
                                </div>
                                <!-- Text -->
                                <div class="col-2-of-3">
                                    <p class="benefits__subtitle">
                                        Giving Back
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="u-margin-bottom-medium">
                            <a href="#" id="button">Learn More</a>
                        </div>                        
                    </div>
                </div>
                <div class="col-1-of-2">
                    <!-- Testimonial -->
                    <h2 class="testimonials__header u-margin-bottom-medium u-margin-top-medium">
                        What Our Clients Say
                    </h2>
                    <!-- Carousel of Quotes -->
                    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="transition: 15s ease-in-out left">
                                <div class="card">
                                    <div class="card-header">
                                        Testimonial
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <h3>"With an idea and minimal technological background, we onboarded Santha as our consulting CHTO - Chief Humanizing Technology Officer; which proved to be a priceless amount of value as she was able to bring our idea to complete fruition."</h3><br>
                                        <footer class="blockquote-footer">Cristopher Joseph, Co-Founder of <cite title="Source Title">Streamcicle</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="transition: 15s ease-in-out left">
                                <div class="card">
                                    <div class="card-header">
                                        Testimonial
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <h3>"The caliber of students she paired with us, the confidence she instilled through our constant communication, and her ability to coach a student to deliver a fully functional prototype within an aggressive timeline is all in support of her expertise, intuition, desire to build her students into development leaders, and desire to ultimately deliver quality service to businesses."</h3><br>
                                        <footer class="blockquote-footer">Cristopher Joseph, Co-Founder of <cite title="Source Title">Streamcicle</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="transition: 15s ease-in-out left">
                                <div class="card">
                                    <div class="card-header">
                                        Testimonial
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <h3>"With FourFront’s model, Santha was able to deliver this under budget when compared to her competitors. I fully recommend Santha and FourFront Insights for any and all technological development needs that you may have."</h3><br>
                                        <footer class="blockquote-footer">Cristopher Joseph, Co-Founder of <cite title="Source Title">Streamcicle</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="transition: 15s ease-in-out left">
                                <div class="card">
                                    <div class="card-header">
                                        Testimonial
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                        <h3>"Santha especially is highly innovative and very well experienced in the startup world. Her insights were greatly appreciated as she helped us think outside the box and adjust our strategies to get the biggest value for our precious dollar. I would recommend Santha and her team at FourFront Insights to any business, especially those starting out."</h3><br>
                                        <footer class="blockquote-footer">Clinton Joseph, Co-Founder of <cite title="Source Title">Streamcicle</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Experts Section -->
        <section class="experts" id="experts">
            <h2 class="experts__header u-margin-bottom-large">
                Meet our Experts and Advisors
            </h2>
            <div class="row">
                {% for expert in experts %}
                    <div class="card overflow-hidden" style="width: 26rem; padding: 0; margin-right: 15px; margin-bottom: 20px; border-radius: 10px;">
                        <img src="{{ expert.headshot.url }}" class="card-img-top" alt="Expert Headshot">
                        <div class="card-body">
                            <a href="{{ expert.linkedin }}" class="card-link" target="_blank" rel="noopener noreferrer"><h5 class="card-title experts__name">{{ expert.name }}</h5></a>
                            <p class="card-text experts__companies">{{ expert.designation }}</p>
                            <img src="{{ expert.company1.url }}" width="90" height="auto" style="margin-left: 10px;" alt="Company Logo">&emsp;
                            <img src="{{ expert.company2.url }}" width="90" height="auto" alt="Company Logo">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        
        <!-- FAQ Section -->
        <section class="faq" id="faq">
            <h2 class="faq__header u-margin-bottom-large">
                Frequently Asked Questions
            </h2>
            <!-- Row 1 -->
            <div class="row">
                <!-- Column 1 -->
                <div class="col-1-of-2">
                    <div class="col-1-of-6">
                        <i class="fas fa-question-circle fa-2x faq__icon"></i>
                    </div>
                    <div class="col-5-of-6">
                        <h3 class="faq__title">
                            Who are FourFront experts?
                        </h3>
                        <p class="faq__description u-margin-bottom-medium">
                            Our real-world industry experts hail from Fortune 500 companies. They are applied professionals with both technology and business experience.
                        </p>
                    </div>
                </div>
                <br>
                <!-- Column 2 -->
                <div class="col-1-of-2">
                    <div class="col-1-of-6">
                        <i class="fas fa-question-circle fa-2x faq__icon"></i>
                    </div>
                    <div class="col-5-of-6">
                        <h3 class="faq__title">
                            What types of project does FourFront work on?
                        </h3>
                        <p class="faq__description u-margin-bottom-medium">
                            FourFront works on projects such as Software-as-a-Service (SaaS), Cloud, Big Data, AI, Blockchain, Robotics, and Data Science projects.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row">
                <!-- Column 1 -->
                <div class="col-1-of-2">
                    <div class="col-1-of-6">
                        <i class="fas fa-question-circle fa-2x faq__icon"></i>
                    </div>
                    <div class="col-5-of-6">
                        <h3 class="faq__title">
                            How do I ensure the technology being built by students will serve my startup needs?
                        </h3>
                        <p class="faq__description u-margin-bottom-medium">
                            Our students receive intensive training in lean coding standards, disciplines, graceful error collection, and other related topics. We work with startups to ensure that business-related discussions take place, as well as to challenge the business to ensure that the startup is developing the right technology product.
                        </p>
                    </div>
                </div>
                <!-- Column 2 -->
                <div class="col-1-of-2">
                    <div class="col-1-of-6">
                        <i class="fas fa-question-circle fa-2x faq__icon"></i>
                    </div>
                    <div class="col-5-of-6">
                        <h3 class="faq__title">
                            How much can I save?
                        </h3>
                        <p class="faq__description u-margin-bottom-medium">
                            Development agencies generally quote more than twice the rates of experts per hour to cover their overhead costs.  Whereas FourFront charges you on a project basis rather than an hourly basis.  Our project rates are optimized by having experts devise the solutions and overseeing student execution.  This way, FourFront eliminates rework, building the wrong features, and unneccessarily complex solutions.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Row 3 -->
            <div class="row">
                <!-- Column 1 -->
                <div class="col-1-of-2">
                    <div class="col-1-of-6">
                        <i class="fas fa-question-circle fa-2x faq__icon"></i>
                    </div>
                    <div class="col-5-of-6">
                        <h3 class="faq__title">
                            How is this service different from other platforms such as Upwork?
                        </h3>
                        <p class="faq__description u-margin-bottom-medium">
                            The advantage of working with FourFront is that you get a technology leader who is a single point of contact that will work through your challenges, offer a solution, and oversee a group of top performing students to execute the solution.
                        </p>
                    </div>
                </div>
                <!-- Column 2 -->
                <div class="col-1-of-2"></div>
            </div>
        </section>

        <!-- Subscribe Section -->
        <section class="subscribe">
            <h2 class="subscribe__header" id="signup">
                Want to stay updated with FourFront?
            </h2>
            <p class="subscribe__text">
                Sign up with your email below for periodic updates on what we <br>
                offer, our blog posts, news, and more.
            </p>
            <p class="subscribe__text-mini u-margin-bottom-medium">
                We won’t spam your inbox.
            </p>
            <form action="{% url 'email' %}" method="POST">
                {% csrf_token %}
                <div class="row subscribe__input">
                    <div class="input-group mb-3">
                        <input type="email" 
                        class="form-control" 
                        placeholder="jane.doe@email.com" 
                        aria-label="jane.doe@email.com" 
                        aria-describedby="button"
                        name="signup_email"
                        id="input">
                        <button class="btn btn-outline-secondary" type="submit" id="button">SUBMIT</button>
                    </div>
                </div> 
            </form>
        </section>
    </main> 
{% endblock %}