{% extends "base.html" %}

{% block title %}Thank you!{% endblock %}

{% block links %}
    <a href="/survey" class="nav-link">Home</a>
{% endblock %}

{% block content %}
    <!-- Thank You -->
        <section class="thank-you u-margin-top-2xl">
            <h1>Thank you for reaching out!</h1>
            <br>
            <h2 class="u-center-text">
                We appreciate you filling out our questionnaire or giving us your email to get in touch.  Once we received your details, we will reach out to you shortly.
            </h2>
            <br>
            <p class="u-margin-bottom-2xl u-center-text">
                In the meantime, please feel free to head back to the <a href="/">landing page</a> and learn mor about what we can offer.
            </p>
            <br>
            <br>
        </section>
{% endblock %}